a {
    text-decoration: none;
    color: white;
}

p {
    min-height: 50vh;
}

img {
    min-height: 100px;
    background-color: rgb(255, 0, 0);
}

/*定义竖屏 css*/
@media screen and (orientation:portrait) {
    img {
        max-width: 99vw;
        margin: 0 0 10pt 0;
    }
}

/*定义横屏 css*/
@media screen and (orientation:landscape) {
    img {
        max-height: 80vh;
        margin: 0 0 10pt 0;
    }
}

body {
    background-color: rgba(0, 149, 249, 0.6);
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
